<!DOCTYPE html>

<html>
	<head>
		<title>Gardner Lab Tasks</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
		<link rel="apple-touch-icon" href="/static/G.png">
		<style type="text/css">
			.person {
				font-size: 30px;
			}
		</style>
	</head>
	<body>
		<div class="container">
		<br>
		<div class="row">
		<div class="col-md-6">
			<form class="form-signin" method="post">
				<h2>Send a Message:</h2>
				<div class="input-group">
					<span class="input-group-addon">Title:</span>
					<input type="text" class="form-control" placeholder="Message Title" name="m_title" required>
				</div>
				<br>

				<textarea class="form-control" name="m_message" required></textarea><br>

				<input type="checkbox" class="from-control" name="person" value="win"><span class="person">  Win</span><br>
				<br>

				<input type="submit" class="btn btn-info" value="Send Message" style="width: 100%">
			</form>
		</div>
		</div>
		</div>
		<script src="/static/js/jquery-1.11.0.min.js"></script>

		<script src="static/js/bootstrap.min.js"></script>
	</body>
</html>