<!DOCTYPE html>

<html>
	<head>
		<title>Gardner Lab Tasks</title>
		<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<form method="post">
						<div class="input-group">
							<span class="input-group-addon">Title:</span>
							<input type="text" placeholder="Message Title" name="m_title">
						</div>
						<br>

						<textarea name="m_message"></textarea><br>

						<input type="checkbox" name="person" value="win"> Win <br>

						<input type="submit" class="btn" value="Send Message">
					</form>
				</div>
			</div>
		</div>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</body>
</html>